* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container {
    display: grid;
    
}
.left-layout {
    margin-left: 40px;
    /* margin-top: 20px; */
}
p {
    font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}
.adweek {
    width: 170px;
    margin-bottom: 7px;
    margin-top: 30px;
}
.issue {
    font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-size: 24px;
}
.vol-date {
    font-size: 10px;
    font-weight: 200;
    font-family: "Open Sans";
}
.creative-100, 
.insights-photo,
.inside-the-brand-photo{
    margin-top: 10px;
}
.insights-photo {
    margin-top: 15px;
}
.insight-header, .inside-brand-header, .min-header {
    font-size: 15px;
    font-weight: 800;
}
.insight-body, .inside-brand-header-body, .nos-40-body {
    font-size: 12px;
    width: 200px;
    margin-bottom: 15px;
    font-weight: 100;
    font-family: "Open Sans";
}
.inside-brand-header-body {
    width: 180px;
}
.num-40-bold {
    font-size: 25px;
}
.nos-40-body {
    width: 100px;
    margin-bottom: 20px;
}
.LGBT-vodka {
    margin-top: -60px;
}
.nos-40 {
    display: flex;
    width: 320px;
} 
.top-line-break {
    border: 1px solid rgba(0, 0, 0, 0.7);
    width: 100px;
    margin-top: -85px;
}
.cover-details {
    width: 80px;
    font-size: 8px;
    margin-top: 7px;
    margin-bottom: 7px;
    line-height: 13px;
}
.top-line-break-sec {
    border: 1px solid rgba(0, 0, 0, 0.7);
    width: 230px;
    margin-bottom: 7px;
}
.publish-next {
    width: 233px;
    font-family: "Open Sans";
}
.publish-next-header{
    font-size: 8px;
    margin-bottom: 3px;
}
.publish-next-body {
    font-size: 7px;
    font-weight: 100;
    color: gray;

}
.line-main {
    border: 1px solid black;
}
.main-container {
    display: grid;
    grid-row: 300px -20px 1fr;
    
}